<div class="card">
  <div class="card-header">
    Welcome to Flavor Town
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/shaq.png"
             class="img-responsive center-block"
             style="max-height:400px;padding-bottom:100px" />
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Caleb Hayden</h3>
      </div>
      <div class="text-center">Coursework by: Deborah Kurata</div>
      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    </div>
  </div>
</div>
