<div>
  <div class="text-center">
    <h1>Oof!</h1>
  </div>
  <div class="text-center">
    <img src="./assets/images/slip.jpg"
         class="img-responsive center-block"
         style="max-height:300px;padding-bottom:50px" />
  </div>
  <div class="text-center">We can't seem to find what you are looking for!</div>
</div>
<div class="text-center">
  <button class="btn btn"
          (click)="onBack()"
          style="width:80px">
    <i class="fa fa-chevron-left"></i> Back
  </button>
</div>


